
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    background-color: #bbbcbd;
    background-image: linear-gradient(43deg, #bbbcbd 0%, #edd3eb 46%, #e3c3f1 100%);
}

/* ****** CSS for Header ******** */
.nav-bar{
    width: auto;
    color: white;
    padding: .5rem;
    background-color: #141414;
    background-image: linear-gradient(62deg, #141414 0%, #e7aaee 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}
.logo{
    font-weight: bold;
    color: rgb(228, 156, 216);
    font-size: 2rem;
}
.search-input{
    width: 40vw;
    padding: .5rem;
    border: none;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    color: grey;
}
.search-btn {
    padding: .5rem;
    border: none; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; 
    padding: auto 20px;
    cursor: pointer;
}
.search-btn i{
    font-weight: bolder;
    color: #141414;
}
.cart{
    color: #141414;
    font-size: 2rem;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    gap: 20px;
}
.cart span{
    background-color: rgb(51, 1, 51);
    color: white;
    font-size: small;
    padding:2px 5px;
    border-radius: 50%;
    margin-left: -5px;
}

/* ***** CSS for BODY **** */
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    /* margin: 50px; */
    margin: 10px;
}
.cartHeading{
    color: purple;
    text-align: center;
    margin: 10px;
}
.card{
    text-align: center;
    background: linear-gradient(to top right, #ffffff 0%, #f1d0e6 100%);
    padding: 10px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
    margin: 20px;
    cursor: pointer;
    border-radius: 10px; 
}
.link{
    text-decoration: none;
}
.card:hover{
    transform: scale(1.1);
    transition: .5s;
}
.card p{
    width: 80px;
    background-color: lightcoral;
    border-radius: 50%;
    color: white;
    font-size: small;
    font-weight: bold;
    padding: 5px 10px;
}
.card img{
    width: 190px;
    height: 190px;
}
.card h3{
    font-weight: bolder;
    color: #851b61;
}
.card h4{
    color: #a70c59;
}
.card h5{
    margin: 5px;
    color: green;
}
.card .add-btn{
    width: 75%;
    background-color: rgb(110, 3, 124);
    padding: 5px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;
}
.card .add-btn:hover{
    background-color:rgb(75, 1, 85) ;
}
.card p{
    margin: 5px;
    font-weight: bold;
    color: #3f3e3e;
    font-size: smaller;
}
.card button{
    padding: 5px 10px;
    border: none;
    outline: none;
    margin: auto 5px;
    cursor: pointer;
}
.card .remove-btn{
    width: 75%;
    background-color: rgb(110, 3, 124);
    padding: 5px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;
}
.card .remove-btn:hover{
    background-color:rgb(75, 1, 85) ;
}
.total{
    display: flex;
    justify-content: center;
    background-color: #cd86d4;
    width: auto;
    padding: 20px;
    gap : 20px;
}
.total span{
    margin-top: 5px;
    font-weight: bold;
    color: rgb(5, 105, 5);
    gap: 20px;
    font-size: larger;
}
.checkout button{
    background-color: rgb(204, 60, 60);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
.checkout button:hover{
    background-color: rgb(122, 5, 5);
}
.emptycart{
    margin: auto;
    color: rgb(207, 45, 45);
    font-size: large;
    font-weight: bold;
    position: relative;
    left:480px;
}
.emptycart span{
    font-weight: lighter;
}
.errorPage{
    margin: auto;
    text-align: center;
}
.errorPage h1{
    color: rgb(110, 3, 124);
    padding: 20px;
    font-weight: bold;
    font-size: medium;
}

.outer-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-detail{
    height: auto;
    width: 500px;
    text-align: center;
    background: linear-gradient(to top right, #ffffff 0%, #f0cee5 100%);
    padding: 10px;
    box-shadow: 0 0px 50px #757676;
    letter-spacing: 1px;
    margin-bottom: 50px;
    border-radius: 10px;
}
.product-detail img{
    width: 250px;
    height: 250px;
}
.product-detail .cancel {
    width: auto;
    color: rgb(219, 76, 76);
    background-color: transparent;
    font-size: xx-large;
    position: relative;
    left: 200px;
}
.product-detail .cancel:hover{
    color: rgb(238, 13, 13);
}
.product-detail span{
    background-color: lightcoral;
    border-radius: 50%;
    color: white;
    font-size: small;
    font-weight: bold;
    padding: 5px 10px;
}
.product-detail button{
    width: 75%;
    background-color: rgb(110, 3, 124);
    padding: 5px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
}
.product-detail button:hover{
    background-color:rgb(57, 2, 65);
}
.product-detail h2{
    font-weight: bold;
    color: #6e044b;
}
.category-brand p{
    color: #a5038f;
    margin: 10px;
    font-size: medium;
    font-weight: bold;
}
.product-detail h5{
    color: green;
    margin-top: 5px;
    font-weight: bolder;
}
.product-detail h4{
    margin-top: 5px;
    color: rgb(180, 45, 45);
}
.product-detail .category-brand{
 display: flex;
 justify-content: space-around;
}

/* **** CSS for Footer ****** */

.footer{
    background-color: #851b61;
    width: full;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px ;
    color: #fcd1e7;
}
.inner-footer{
    list-style-type: none;
    padding: 20px;
}
.inner-footer h3{
    font-weight: bold;
    margin-bottom: 10px;
}
.copyright{
    width: full;
    padding: 10px;
    color: #ee0479;
    background-color: #1f121a;
    text-align: center;
    
}


.checkout-page{
    display: flex;
    justify-content: space-evenly;
}
.form{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.form h2{
    color: #970667;
}
.form-data{
    text-align: start;
    width: 600px;
     height: auto;
     background: linear-gradient(to bottom, #ff99ff 0%, #cc99ff 100%);
     padding: 20px;
     margin: 10px;
     border-radius: 10px;
}
.form-data label{
   font-weight: bold;
   padding: 5px;
}
.form-data input{
      padding: 5px;
      margin: 10px 5px;
      border-radius: 5px;
      border-radius: 5px;
      border: none;
      outline: none;
      width: auto;
}
.payment-data{
    width: 600px;
    background: linear-gradient(to bottom, #ff99ff 0%, #cc99ff 100%);
    border-radius: 10px;
}
.payment-data input{
    padding: 5px;
    margin: 10px 5px;
    border-radius: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.payment-data label{
    font-weight: bold;
    padding: 5px;
}
.place-order{
    background-color: green;
    padding: 10px 10px;
    border-radius: 5px;
    color: white;
    border: none;
    margin: 15px;
    cursor: pointer;
    font-weight: bold;
}
.place-order:hover{
    background-color: rgb(4, 73, 4);
}
.your-order{
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 100px gray;
}
.your-order h2{
   text-align: center;
   padding: 10px;
}
.your-order p{
    color: red;
    margin: 10px;
}
.your-order .inner-order-div{
    padding: 5px;
}
.your-order .inner-order-div h5{
    padding: 5px;
}
.your-order .inner-order-img{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
}
.your-order .inner-order-img img{
    height: 100px;
    width: 100px;
}
.final-total{
    border: 1px solid rgb(4, 37, 1);
    color: green;
    font-weight: bolder;
    margin: 10px;
    padding: 5px;
}

/* ****** CSS FOR Responsive Webpage  ******** */

@media(max-width:600px){
    .nav-bar{
        padding-left: 0;
        display: flex;
        justify-content: space-evenly;
        padding: 0.4rem;
    }
    .logo{
        font-size: 1.3rem;
    }
    .search-input{
        width: 150px;
        padding: 0.3rem;
    }
    .search-btn{
        padding: 0.3rem;
    }
    .cart{
        gap: 0;
        font-size: 1.3rem;
    }
    .cart span{
        padding: 1px 3px;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 1px;
        margin: 10px;
    }
    .card{
        padding: 10px;
    }
    .inner-footer{
      padding: 5px;
    }
    .inner-footer h3{
        font-size: small;
      }
    .inner-footer li{
      font-size: small;
    }
    .copyright{
        font-size: small;
    }
    .total{
       padding: 5px;
    }
    .total span{
        font-size: medium;
    }
    .cartHeading{
        font-size: medium;
        margin: 5px;
    }
    .emptycart{
        position: relative;
        left: auto;
        font-size: medium;
    }
    .checkout button{
        padding: 5px;
        font-size: small;
    }
    .outer-div{
        margin: 20px;
    }
    .product-detail{
        padding: 5px;
        width: auto;
    }
    .product-detail .cancel{
        position: relative;
        left: 140px;
    }
    .product-detail img{
        width:200px;
        height: 200px;
    }
    .product-detail h2{
        font-size: large;
    }
    .product-detail h4{
        font-size: small;
    }
    .product-detail p{
        font-size: small;
    }
    .category-brand p{
        font-size: small;
    }
    .checkout-page{
        display: flex;
        flex-direction: column;
    }
    .form-data{
        width: 400px;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .form-data input{
        padding: 5px;
        margin: 0;
    }
    .form-data label{
        padding: 2px;
     }
    .payment-data{
        width: 400px;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .payment-data input{
        margin: 0;
        padding: 5px;
    }
    .payment-data label{
        padding: 2px;
    }
}
